body {
  margin: 0;
  font-family: "Nunito", "Noto Sans SC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  background-color: #fdfdfd;
  color: @black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden-scrollbar {
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }
}
