.indexs-page-container {
  position: relative;
  overflow-y: auto;
  height: 100vh;
  scroll-behavior: smooth;

  background-image: radial-gradient(#59c7f34d 1.05px, transparent 1.05px),
    radial-gradient(#9844f74d 1.05px, #fdfdfd 1.05px);
  background-size: 36px 36px;
  background-position: 0 0, 18px 18px;
}

.indexs-content-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.indexs-cards {
  padding: 40px 0;

  .indexs-ischose-tags {
    padding: 20px 0;
    margin-bottom: 20px;
    margin-right: 3px;
    background: #fcfa81b7;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    flex-wrap: wrap;
    filter: drop-shadow(6px 6px 0px #44b9dd4f);

    .tag-item {
      margin: 6px;
    }
  }
}

.indexs-functions-area {
  width: 560px;
  overflow: auto;
}
